.forms-to-append {
    margin-top: 10px;
}

.buttons {
    clear: both;
}
.form-to-append {
    border-bottom: 1px solid #ddd;
    float: left;
    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 3em;
    position: relative;
    max-width: 690px;
    clear: left;
}

.form-to-append:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.setting-column label {
    font-size: .9em;
    display: block;
    margin-bottom: 5px;
}

.setting-column {
    margin-bottom: 15px;
    float: left;
    margin-right: 20px;
}

.setting-column:first-child {
    width: 100%;
}

.setting-column:first-child select {
    width: auto;
    max-width: 321px;
}
.setting-column:first-child label {
    font-weight: bolder;
}

.setting-column select {
    width: 150px;
}

.actions {
    position: absolute;
    display: block;
    clear: both;
    bottom: 1.5em;
    left: 0;
}

.actions a {
    text-decoration: none;
    cursor: pointer;
}

.actions a:focus {
    outline: none;
    box-shadow: none;
    border: none;
    color: #0073aa;
}

.actions span {
    color: #ddd;
    margin: 0 .5em;
}

.actions .remove {
    color: #a00;
    text-decoration: none;
}

.actions .remove:after {
    content: none;
}

.actions .remove:hover {
    color: red;
}

.checkbox-group {
    float: left;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

.checkboxes {
    clear: both;
}

p.description {
    line-height: 1.6;
    max-width: 750px;
    margin: 1em 0;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
}

